.jumbotron {
  background-color: whitesmoke
}

.aboutTitle {
  color: red
}

.aboutText {
  font-size: 50px;
  font-weight: 500;
  color: maroon;
}

.Jobly {
  font-family: 'Rubik Mono One', sans-serif;
}
strong {
  font-size: 50px;
}